<html>
<head>
	<link href="./static/index_style.css" rel="stylesheet" type="text/css" media="all">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
</head>


<body>
<form class="form-wrapper cf" action = "/uploader" method = "POST" enctype = "multipart/form-data">
	<input type="file" id="file" name="file"/>
	<select name="im2txt_type" style="height:40px">
		<option value="desc">Description</option>
		<option value="story">Story Style</option>
	</select>
	<button type="submit">Upload</button>
</form>
<div class="byline">
<p> TIGP SNHCC
<a href="http://tigpsnhcc.iis.sinica.edu.tw/">Website</a>
</p>
<p> Natural Language Processing and Information Retrieval in Social Networks</p>
<p> Fincal Project</p>
<p> Student: Ting Wei Lin</p>
</div>

<div class="footer">
<p>
template by 
<a href="http://speckyboy.com/2012/02/15/how-to-build-a-stylish-css3-search-box/">SpeckyBoy</a> 

</p>
</div>
</body>
</html>