<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link href="./static/loading_style.css" rel="stylesheet" type="text/css" media="all">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

	<script>
	$(function () { 
	$("#nlp").load("/ajax/keyframe_extraction"); 
	});
	</script>
</head>


<body>
  <div class="wrap">
  <div class="loading">
    <div class="bounceball"></div>
    <div class="text" id="nlp">NOW EXTRACTION</div>
  </div>
</div>



</body>

</html>