<html>
<head>
	<link href="./static/index_style.css" rel="stylesheet" type="text/css" media="all">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script>    
		window.setTimeout(function(){
		window.location.href = '/keyframe_extraction';
		}, 2000);
	</script>
</head>


<body>
<div class="byline">
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<p>Uploading Finish</p>
<p>Staring to extract keyframe and produce description</p>
</div>
</body>

</html>